name: Release
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  actions: read
  contents: write
  deployments: none
  packages: write
  pages: none
  pull-requests: write
  security-events: write
  statuses: write

jobs:
  # vpn:
  #   name: setup Tailscale
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Get Tailscale
  #       run: curl -fsSL https://tailscale.com/install.sh | sh
  #     - name: Start tailscale
  #       run: sudo tailscale up --authkey "${TAILSCALE_AUTHKEY}"
  #       env:
  #         TAILSCALE_AUTHKEY: ${{ secrets.TAILSCALE_AUTHKEY }}

  validate:
    name: Test
    # needs: [vpn]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: init terraform
        run: terraform init --backend=false
      - name: validate terraform
        run: terraform validate

  apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    needs: [validate]
    strategy:
      fail-fast: false
      matrix:
        vault_version:
          - 1.17.0
          - 1.16.3
          - 1.15.6
        nomad_version:
          - 1.8.1
          - 1.7.7
          - 1.6.10
        consul_version:
          - 1.19.0
          - 1.18.2
          - 1.17.3
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Get Tailscale
        run: curl -fsSL https://tailscale.com/install.sh | sh
      - name: Start tailscale
        run: sudo tailscale up --authkey "${TAILSCALE_AUTHKEY}"
        env:
          TAILSCALE_AUTHKEY: ${{ secrets.TAILSCALE_AUTHKEY }}
      - name: Get Consul
        run: |
          wget https://releases.hashicorp.com/consul/${{ matrix.consul_version }}/consul_${{ matrix.consul_version }}_linux_amd64.zip
          unzip -o consul_${{ matrix.consul_version }}_linux_amd64.zip
          mv consul ~/consul
      - name: Get Nomad
        run: |
          wget https://releases.hashicorp.com/nomad/${{ matrix.nomad_version }}/nomad_${{ matrix.nomad_version }}_linux_amd64.zip
          unzip -o nomad_${{ matrix.nomad_version }}_linux_amd64.zip
          mv nomad ~/nomad
      - name: Get Vault
        run: |
          wget https://releases.hashicorp.com/vault/${{ matrix.vault_version }}/vault_${{ matrix.vault_version }}_linux_amd64.zip
          unzip -o vault_${{ matrix.vault_version }}_linux_amd64.zip
          mv vault ~/vault
      - name: Make vault, nomad and consul executable
        run: chmod +x ~/vault ~/consul ~/nomad
      - name: Start Consul dev server
        run: ~/consul agent -dev &
      # - name: Bootstrap consul ACL
      #   run: ~/consul acl bootstrap -format=json
      - name: Start Nomad server
        run: ~/nomad agent -dev -acl-enabled -bootstrap-expect=1 &
      - name: Bootstrap Nomad ACL
        run: ~/nomad acl bootstrap -json > nomad_acl.json
      - name: Start Vault dev server
        run: ~/vault server -dev &
      - name: init terraform
        run: terraform init
      - name: Plan
        run: |
          TF_VAR_nomad_mgmt_token=$(cat nomad_acl.json| jq -r .SecretID) \
          VAULT_TOKEN=$(cat ~/.vault-token) \
          TF_VAR_vault_addr=http://localhost:8200 \
          TF_VAR_consul_token=${{ secrets.CONSUL_TOKEN }} \
          terraform plan
      # - name: stop Vault
      #   run: kill -9 $(jobs -p)
  release:
    needs: [apply]
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/iron'
      - name: Install dependencies
        run: |
          npm install -g \
            semantic-release \
            '@semantic-release/changelog' \
            '@semantic-release/github' \
            '@semantic-release/changelog' \
            '@semantic-release/git'
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
